[Ll]ibrary/
Temp/
.vs/
Logs/
*.csproj
Guestbook Downgrade/Assembly-CSharp.csproj
Guestbook Downgrade/Assets/StreamingAssets/data_dump.txt
Guestbook Downgrade/Assets/StreamingAssets/data_dump.txt.meta
Guestbook Downgrade/Assets/StreamingAssets/data_dump.txt
Guestbook Downgrade/Assets/StreamingAssets/data_dump.txt.meta
